##### Loading Imports & the Dataset

In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [2]:
# Loading the csv data file to a Pandas DataFrame
dataset = pd.read_csv('/Users/ibrahimharoon/Documents/Uni/Year 3/Final Project/Stroke Prediction Tool/strokeDataset.csv')

##### Dataset Analysis

1. Finding the total rows and columns

In [ ]:
# Finding the total rows and columns
dataset.shape

2. Identifying data types

In [ ]:
#Â Printing the first 5 rows of the dataset
dataset.head()

3. Checking for missing values

In [ ]:
# Checking if there are any missing values in each column
dataset.isnull().sum()

4. Checking for outliers in numerical columns

In [ ]:
sns.boxplot(data=dataset['avg_glucose_level'], orient='h').set(title="Avg Glucose Level")

In [ ]:
sns.boxplot(data=dataset['bmi'], orient='h').set(title="BMI")

4. Checking if the distribution of stroke is balanced

In [ ]:
#'1' who had a stroke and '0' who did not have a stroke.
dataset['stroke'].value_counts()

##### Preprocessing

1. Creating a copy of the original dataset

In [3]:
datasetCopy = dataset.copy()

2. Removing the id column

In [4]:
datasetCopy = datasetCopy.drop('id', axis=1)

3. Binary encoding

In [5]:
datasetCopy['ever_married'] = datasetCopy['ever_married'].replace({'No' : 0, 'Yes' : 1})
datasetCopy['Residence_type'] = datasetCopy['Residence_type'].replace({'Rural' : 0, 'Urban' : 1})

/var/folders/bb/svpj70fx13s2njbdm71g6vnr0000gn/T/ipykernel_30695/773968758.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datasetCopy['ever_married'] = datasetCopy['ever_married'].replace({'No' : 0, 'Yes' : 1})
/var/folders/bb/svpj70fx13s2njbdm71g6vnr0000gn/T/ipykernel_30695/773968758.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datasetCopy['Residence_type'] = datasetCopy['Residence_type'].replace({'Rural' : 0, 'Urban' : 1})

4. One Hot Encoding

In [6]:
datasetCopy = pd.get_dummies(datasetCopy, columns=['gender', 'work_type', 'smoking_status'])

In [7]:
datasetCopy.head()

,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,1,1,228.69,36.6,1,False,True,False,False,False,True,False,False,False,True,False,False
1,61.0,0,0,1,0,202.21,NaN,1,True,False,False,False,False,False,True,False,False,False,True,False
2,80.0,0,1,1,0,105.92,32.5,1,False,True,False,False,False,True,False,False,False,False,True,False
3,49.0,0,0,1,1,171.23,34.4,1,True,False,False,False,False,True,False,False,False,False,False,True
4,79.0,1,0,1,0,174.12,24.0,1,True,False,False,False,False,False,True,False,False,False,True,False